/* INDICE:
1) GENERAL
2)INDEX
3)NOSOTROS
4)CURSOS
5)FAQ
6)OPINIONES
7)CONTACTANOS

1) GENERAL ####################################################################### */
body{text-decoration: none}
header{
    background-color: #CAF0F8;
    height: 6em;
}
.navbar-collapse{
    background-color: #CAF0F8;
}
.logo{
    width: 5em;
    padding: .5em;
}
span{
    font-weight: bold;
}
.pie-de-pagina{
    text-decoration: none;
    background-color: #CAF0F8;
    color: black;
    height: 3.5em;
}
.con-margen{margin-top: 2em;}
.margen-izquierdo{margin-left: 6em;}
.con-margen-grueso{margin-top: 6em;}
.ordenar{justify-content: space-around;}
.recortar{max-height: 40em;}
.subrayado{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.subrayado:hover, .subrayado:focus {
    background-size: 100% 2px;
}
.boton--contacto{
    position: fixed;
    right: 1%;
    bottom: 10%;
}
.boton--contacto:hover{
    animation-name: rotacion_logo;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes rotacion_logo{
    0%{ transform: rotate(0deg);}
    50%{ transform: rotate(20deg);}
    100%{ transform: rotate(0deg);}

}
.con-espacio-grueso{padding-top: 6em;}
/* 2)INDEX#################################################################### */
.fondo-azul{background-color: #ADE8F4;}
.fondo-azul2{background-color: #48CAE4 ;}
.fondo-azul3{background-color: #CAF0F8;}
.fondo-azul4{background-color: #023E8A;}
.fondo-negro{background-color: black;}
.fondo-1{
    width: 100%;
    height: 100%;
}
/* EMPIEZA IMAGEN DE INICIO */
.contenedor{
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 5em;
}
.titulo-encima{
    background-color: #023E8A;
    width: 15em;
    height: 2em;
    position: absolute;
    top: 20%;
    left: 10%;
}
.texto-encima{
    background-color: #023E8A;
    width: 15em;
    height: 10em;
    position: absolute;
    top: 35%;
    left: 10%;
}
/* EMPIEZA SECCION BLANCA */
.titulo{
    display: inline-block;
    background-color: white;
    position: relative;
}
.n{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 8em;  
    padding-top: 2em;
}
.titulo::after,.titulo::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    background-color: currentColor;
    top: 0.6em;
}
.titulo::before{
    left: -140px;
}
.titulo::after{
    right: -140px;
}
/* EMPIEZA SECCION AZUL OSCURO */
.m{
    background-color: darkblue;
    width: 100%;
    height: 50em;
    padding-left: 2em;
}
.alto{height: 16em;}
/* ULTIMA SECCION */
.titulo-ultimo{
    background-color: #023E8A;
    width: 15em;
    height: 3em;
    position: absolute;
    top: 20%;
    left: 10%;
}
/* 3)NOSOTROS#################################################################### */
.scroll{max-width: 100%;}
.texto-nosotros{font-size: bold;}
.alto-nosotros{height: 28em;}
/* 4)CURSOS#################################################################### */
.container-cursos{margin-top: 2em;}
.aumento:hover{
    animation-name: aumento_imagenes;
    animation-duration: 3s;
    animation-timing-function: ease;
}

/* 5)FAQ#################################################################### */

.img1{width: fit-content;}
.img2{width: fit-content;}
.img3{width: fit-content;}
.img4{width: fit-content;}
.img5{width: fit-content;}
.img6{width: fit-content;}
.img7{width: fit-content;}
.img8{width: fit-content;}
.img9{width: fit-content;}
.img10{width: fit-content;}


/* 6)OPINIONES#################################################################### */

/* 7)CONTACTANOS#################################################################### */
.formulario{
    background-color: #48CAE4;
    border: solid 2px black;
    position: absolute;
    top: 20%;
    right: 10%;
}
.formulario:hover{
    animation-name: aumento_imagenes;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes aumento_imagenes {
    0% {
      transform: scale(1, 1); }
    50% {
      transform: scale(.5,.5); }
    100% {
      transform: scale(1, 1); } }