/* MARGENES */
$con-margen: margin-top 2em;
$margen-izquierdo{margin-left: 6em;}
$con-margen-grueso{margin-top: 6em;}
/* COLORES DE FONDO */
$fondo-azul{background-color: #ADE8F4;}
$fondo-azul2{background-color: #48CAE4 ;}
$fondo-azul3{background-color: #CAF0F8;}
$fondo-azul4{background-color: #023E8A;}
$fondo-negro{background-color: black;}
